.main{
    width: 90%;
    margin: auto;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

.header {
    height: auto;
    width: 100%;
    position: relative;
    display: grid;
    place-content: center;
    padding: 10px;
}
.headerLogo{
    cursor: pointer;
}
